<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span>Edit Room</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md mb-4 mb-md-0">
				<div class="accordion mt-3" id="accordionExample">
					<div class="row">
						<div class="col-md-6 mx-auto">
							<div class="card mb-4">
								<div class="card-body">
									<%= form_with(model: [:admin, @room], url: admin_room_path(@room), method: :patch, data: { turbo: false}) do |f| %>
										<% if @room.errors.any? %>
											<div id="error_explanation">
												<div class="alert alert-danger alert-dismissible pb-1" role="alert">
													<ul>
														<% @room.errors.full_messages.each do |message| %>
															<li><%= message %></li>
														<% end %>
														<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
													</ul>
												</div>
											</div>
										<% end %>
										<div class="mb-3">
											<label for="defaultFormControlInput" class="form-label">Hostel Room Type</label>
											<%= f.collection_select :room_type_id, @room_types, :id, :name_with_hostel, { prompt: "Select Room Type" }, class: "form-select", disabled: true %>
										</div>
										<div class="mb-3">
											<label for="defaultFormControlInput" class="form-label">Room Number</label>
											<%= f.number_field :room_number, class: "form-control", placeholder: "Enter number of rooms eg 10" %>
										</div>
										<div class="mb-3">
											<label for="defaultFormControlInput" class="form-label">Number of Beds</label>
											<%= f.number_field :number_of_beds, class: "form-control", placeholder: "eg 2", readonly: true %>
										</div>
										<div class="demo-inline-spacing">
											<button type="submit" class="btn btn-primary float-end" data-turbo="false">
												<span class="tf-icons bx bx-plus"></span>&nbsp; Update Room
											</button>
										</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
