<div class="container-xxl flex-grow-1 container-p-y">
	<div class="row">
		<div class="col-lg-8 mb-4 order-0">
			<div class="card">
				<div class="d-flex align-items-end row">
					<div class="col-sm-7">
						<div class="card-body">
							<h5 class="card-title text-primary">Welcome Back <%= current_account.first_name.present? ? current_account.first_name : current_account.username %>! 🎉</h5>
							<p class="mb-4">
								Today is a brand new oppotunity to do more
							</p>
						</div>
					</div>
					<div class="col-sm-5 text-center text-sm-left">
						<div class="card-body pb-0 px-0 px-md-4">
							<%= image_tag "img/illustrations/girl-doing-yoga-light.png", height: 140, alt: "Badge user" %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 order-1">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title d-flex align-items-start justify-content-between">
								<div class="avatar flex-shrink-0">
									<i class="menu-icon fs-2 fw-bold tf-icons bx bx-time"></i>
								</div>
							</div>
							<span class="fw-semibold d-block mb-1">Time</span>
							<h3 class="card-title mb-2"><small class="text-info text-sm">Coming soon...!</small></h3>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title d-flex align-items-start justify-content-between">
								<div class="avatar flex-shrink-0">
									<i class="menu-icon fs-2 fw-bold tf-icons bx bx-calendar"></i>
								</div>
							</div>
							<span>Date</span>
							<h3 class="card-title text-nowrap mb-1"><%= Date.today.strftime('%b %d, %Y') %></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Total Revenue -->
		<div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
			<% unless @has_active_accommondation %>
				<div class="card">
					<div class="row row-bordered g-0 text-center">
						<div class="col">
							<h5 class="card-header m-0 me-2 pb-3">No Active Accommondation</h5>
							<%# <div class="btn btn-primary mb-3">Reserve Now</div> %>
							<%= link_to "Reserve Now", new_account_accommondation_path, class: "btn btn-primary mb-3" %>
						</div>
					</div>
				</div>
			<% else %>
				<div class="card mt-4">
					<div class="row row-bordered g-0">
						<div class="col">
							<h5 class="card-header m-0 me-2 pb-3">Accommondation(s)</h5>
							<div class="table-responsive text-nowrap">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Ref No</th>
											<th>Amount</th>
											<th>Hostel</th>
											<th>RoomType</th>
											<th>Room No</th>
											<th>Bed</th>
											<th>Session</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody class="table-border-bottom-0">
										<% @accommondations.each do |acc| %>
											<tr>
												<td><small><%= acc.ref_no %></small></td>
												<td><%= number_to_currency(acc.amount, unit: "₦") %></td>
												<td>
													<%= acc.hostel %>
												</td>
												<td>
													<%= acc.room_type %>
												</td>
												<td>
													<%= acc.room_no %>
												</td>
												<td><%= acc.bed%></td>
												<td>
													<%= acc.session %>
												</td>
												<td>
													<%= link_to "view", account_accommondations_path, class: "btn btn-info btn-sm"  %>
												</td>
											</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>