<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a href="<%= admin_dashboard_path %>" class="app-brand-link" data-turbo="false">
			<%= image_tag("img/d_logo.png", width: "40") %>
			<span class="app-brand-text demo menu-text fw-bolder ms-2">Hostel</span>
		</a>
		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
			<i class="bx bx-chevron-left bx-sm align-middle"></i>
		</a>
	</div>
	<div class="menu-inner-shadow"></div>
	<ul class="menu-inner py-1">
		<!-- Dashboard -->
		<li class="menu-item <%= 'active' if request.path == admin_dashboard_path %>">
			<a href="<%= admin_dashboard_path %>" class="menu-link" data-turbo="false">
				<i class="menu-icon tf-icons bx bx-home-circle"></i>
				<div data-i18n="Analytics">Dashboard</div>
			</a>
		</li>
		<li class="menu-header small">
			<span class="menu-header-text">Pages</span>
		</li>
		<% if defined?(@account) && @account.present? %>
			<li class="menu-item <%= 'active open' if request.path == admin_users_path || request.path == admin_path(@account) %>">
			<% else %>
				<li class="menu-item <%= 'active open' if request.path == admin_users_path %>">
				<% end %>
				<a href="javascript:void(0);" class="menu-link menu-toggle">
					<i class="menu-icon tf-icons bx bx-group"></i>
					<div data-i18n="Account Settings">Students</div>
				</a>
				<ul class="menu-sub">
					<li class="menu-item <%= 'active' if request.path == admin_users_path %>">
						<a href="<%= admin_users_path%>" class="menu-link" data-turbo="false">
							<div data-i18n="Account">Overview</div>
						</a>
					</li>
				</ul>
			</li>
			<!-- Extended components -->
			<li class="menu-item <%= 'active open' if request.path == admin_users_path %>">
				<a href="javascript:void(0);" class="menu-link menu-toggle">
					<i class="menu-icon tf-icons bx bx-user"></i>
					<div data-i18n="Account Settings">Staffs</div>
				</a>
				<ul class="menu-sub">
					<li class="menu-item <%= 'active' if request.path == admin_users_path %>">
						<a href="<%= admin_users_path%>" class="menu-link" data-turbo="false">
							<div data-i18n="Account">Overview</div>
						</a>
					</li>
				</ul>
			</li>
			<!-- Extended components -->
			<% if defined?(@room_type) && @room_type.present? %>
				<li class="menu-item <%= 'active open' if request.path == admin_room_types_path || request.path == edit_admin_room_type_path(@room_type) %>">
				<% else %>
					<li class="menu-item <%= 'active open' if request.path == admin_room_types_path %>">
					<% end %>
					<a href="javascript:void(0);" class="menu-link menu-toggle">
						<i class="menu-icon tf-icons bx bx-buildings"></i>
						<div data-i18n="Account Settings">Room Type</div>
					</a>
					<ul class="menu-sub">
						<li class="menu-item <%= 'active' if request.path == admin_room_types_path %>">
							<a href="<%= admin_room_types_path %>" class="menu-link" data-turbo="false">
								<div data-i18n="Account">Overview</div>
							</a>
						</li>
					</ul>
				</li>
				<!-- Extended components -->
				<% if defined?(@room) && @room.present? %>
					<li class="menu-item <%= 'active open' if request.path == admin_rooms_path || request.path == edit_admin_room_path(@room) || request.path == admin_room_path(@room) %>">
					<% else %>
						<li class="menu-item <%= 'active open' if request.path == admin_rooms_path %>">
						<% end %>
						<a href="javascript:void(0);" class="menu-link menu-toggle">
							<i class="menu-icon tf-icons bx bx-building"></i>
							<div data-i18n="Account Settings">Rooms</div>
						</a>
						<ul class="menu-sub">
							<li class="menu-item <%= 'active' if request.path == admin_rooms_path %>">
								<a href="<%= admin_rooms_path %>" class="menu-link" data-turbo="false">
									<div data-i18n="Account">Overview</div>
								</a>
							</li>
						</ul>
					</li>
					<!-- Extended components -->
					<!-- Cards -->
					<li class="menu-item <%= 'active' if request.path == admin_emails_path || request.path == admin_email_new_path %>">
						<a href="<%= admin_emails_path %>" class="menu-link" data-turbo="false">
							<i class="menu-icon tf-icons bx bx-building-house"></i>
							<div data-i18n="Basic">Accommodations</div>
						</a>
					</li>
					<%#  %>
					<li class="menu-item <%= 'active' if request.path == admin_emails_path || request.path == admin_email_new_path %>">
						<a href="<%= admin_emails_path %>" class="menu-link" data-turbo="false">
							<i class="menu-icon tf-icons bx bx-envelope"></i>
							<div data-i18n="Basic">Emails</div>
						</a>
					</li>
					<!-- User interface -->
					<li class="menu-item <%= 'active open' if request.path == admin_settings_account_path || request.path == admin_settings_site_details_path || request.path == admin_settings_password_path %>">
						<a href="javascript:void(0)" class="menu-link menu-toggle">
							<i class="menu-icon tf-icons bx bx-cog"></i>
							<div data-i18n="User interface">Settings</div>
						</a>
						<ul class="menu-sub">
							<li class="menu-item <%= 'active' if request.path == admin_settings_account_path %>">
								<a href="<%= admin_settings_account_path %>" class="menu-link" data-turbo="false">
									<div data-i18n="Accordion">Account</div>
								</a>
							</li>
							<li class="menu-item <%= 'active' if request.path == admin_settings_password_path %>">
								<a href="<%= admin_settings_password_path %>" class="menu-link" data-turbo="false">
									<div data-i18n="Accordion">Password</div>
								</a>
							</li>
							<%# <li class="menu-item">
					<a href="#" class="menu-link">
						<div data-i18n="Badges">Subscription Plans</div>
					</a>
				</li> %>
							<li class="menu-item <%= 'active' if request.path == admin_settings_site_details_path %>">
								<a href="<%= admin_settings_site_details_path %>" class="menu-link" data-turbo="false">
									<div data-i18n="Carousel">Contact Details</div>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</aside>
